option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ENV
    value: production
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: 5000

commands:
  01_download_go:
    command: | INSTALLED_GO_VERSION=$(/usr/bin/go version 2>/dev/null | awk '{print $3}' | sed 's/go//') REQUIRED_GO_VERSION="1.24.0"

      if [ "$INSTALLED_GO_VERSION" != "$REQUIRED_GO_VERSION" ]; then
        echo "Go version mismatch or not installed. Installing Go $REQUIRED_GO_VERSION..."
        
        sudo rm -rf /usr/local/go
        sudo rm -rf /usr/bin/go

        curl -O -L "https://go.dev/dl/go${REQUIRED_GO_VERSION}.linux-amd64.tar.gz"
        sudo tar -C /usr/local/ -xvzf go${REQUIRED_GO_VERSION}.linux-amd64.tar.gz

        sudo ln -sf /usr/local/go/bin/go /usr/bin/go

        echo 'export PATH=$PATH:/usr/local/go/bin' | sudo tee -a /etc/profile.d/go.sh
        echo 'export PATH=$PATH:/usr/local/go/bin' | sudo tee -a /etc/environment

        echo "Go $REQUIRED_GO_VERSION installed successfully."
      else
        echo "Go $REQUIRED_GO_VERSION is already installed. Skipping installation."
      fi

      go version >> /var/log/eb-engine.log 2>&1
