option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ENV
    value: production
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: 5000

commands:
  01_build_go_application:
    command: |
      # Navigate to the project directory
      cd /var/app/current

      # Build the Go application (assuming main.go is the entry point)
      curl -O -L "https://go.dev/dl/go1.24.0.linux-amd64.tar.gz"
      sudo tar -C /usr/local/ -xvzf go1.24.0.linux-amd64.tar.gz
      sudo ln -sf /usr/local/go/bin/go /usr/bin/go

      # Set up the Go path and environment
      echo "export PATH=\$PATH:/usr/local/go/bin" | sudo tee -a /etc/profile.d/go.sh
      source /etc/profile.d/go.sh

      # Ensure that the Go binary is built
      go build -o /var/app/current/application main.go

      # Verify the Go version
      go version >> /var/log/eb-engine.log 2>&1

      # Make the Go binary executable
      sudo chmod +x /var/app/current/application

      # Verify the application file is present
      ls -l /var/app/current/application >> /var/log/eb-engine.log 2>&1
  02_run_application:
    command: |
      # Run the application
      cd /var/app/current
      ./application >> /var/log/eb-engine.log 2>&1
